/* winner comment css starts */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.winner_count {
  /* width: 81.539px; */
  height: 123.714px;
  flex-shrink: 0;
  color: rgba(80, 101, 168, 0.22);
  font-family: Rubik;
  font-size: 200px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  /* 35% */
  letter-spacing: -0.34px;
  margin: auto;
  margin-top: 40px;
}

.trophy_Container {
  width: 413.51px;
  height: 96.241px;
  position: relative;

  margin: auto;
  margin-top: 10px;
  margin-bottom: 51px;
}

.rect_img {
  width: 370.51px;
  height: 96.241px;
  flex-shrink: 0;
}

.trophy {
  width: 119.56px;
  height: 134.379px;
  position: absolute;
  z-index: 100;
  top: -15px;
  left: -45px;
}

.name {
  width: 325.425px;
  flex-shrink: 0;
  position: absolute;
  top: 28px;
  right: 40px;
  color: #5065a8;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.34px;
  margin: auto;
  font-family: Rubik;
  /* padding-right: px; */
}

.winner_comment {
  width: 450.592px;
  height: 109.656px;
  border-radius: 15px;
  background: #fff;
  margin: 0 auto;
  /* padding: 15  58 22; */
  padding-left: 22px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 37px 15px rgba(0, 0, 0, 0.05);
  position: relative;
}

#name {
  color: #5065a8;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.34px;
  margin-left: 8px;
  margin-right: 18px;
  display: inline-block;
  font-family: Rubik;
}

#cmnt {
  color: #555;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 70px;
  /* 291.667% */
  letter-spacing: -0.34px;
  width: 13rem;
  font-family: Rubik;
}

#ellipse {
  z-index: 1000;

  flex-shrink: 0;
  width: 56px;
  height: 56px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='56' height='56' viewBox='0 0 56 56' fill='none'%3E%3Ccircle cx='28' cy='28' r='28' fill='url(%23paint0_linear_95_160)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_95_160' x1='28' y1='0' x2='28' y2='56' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EAB700'/%3E%3Cstop offset='1' stop-color='%23D99200'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -25px;
}

.entries_text {
  position: absolute;
  right: 44px;
  top: 42px;
  width: 191px;
  height: 63px;
  flex-shrink: 0;
  color: #555;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 111.111% */
  letter-spacing: -0.34px;
}

.container {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
}

.ellipse {
  position: relative;
}

.entries-text {
  text-align: center;
  font-size: 14px;
  color: #333;
}

.direction {
  position: relative;
}

.entry_right {
  z-index: 10000;
  position: absolute;
  right: -260px;
  top: -118px;
  direction: ltr;
  display: flex;
  flex-direction: row-reverse;
}

.entry-left {
  z-index: 10000;
  position: absolute;
  /* right: +260px; */
  background-color: aqua;
  /* top: 118px; */
  /* top: ; */
}

.reversed_img {
  transform: rotateY(180deg);
  right: 30px;
  bottom: 10px;
  position: absolute;
}

.reversed_text {
  position: absolute;
  top: -90px;
  right: 70px;
  width: 191px;
  height: 63px;
  flex-shrink: 0;
  color: #555;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 111.111% */
  letter-spacing: -0.34px;
}

.ellipse {
  position: relative;
}

.winner_img {
  width: 73px;
}

/* MEDIA QUERY */

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .rect_img {
    width: 270px;
    height: 62.5px;
  }
  .name {
    font-size: 18px;
    top: 18px;
  }
  .trophy {
    width: 77.7px;
    height: 87.3px;
    position: absolute;
    top: -15px;
    left: 27px;
  }
  .trophy_Container {
    margin-bottom: 0;
  }
  .winner_count {
    font-size: 100px;
    height: auto;
  }
  .winner_comment {
    width: 333px;
    margin-left: 15px;
  }
  .winner_img {
    width: 45px;
  }
  #name {
    font-size: 18px;
    line-height: 50px;
    margin-left: -15px;
  }
  #cmnt {
    font-size: 16px;
    line-height: 0.25px;
  }
  .samll_screen_name {
    display: block !important;
  }
}