.form_container {
  /* width: 1170px; */
  /* height: 600px; */
  flex-shrink: 0;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 1px 37px 3px rgba(0, 0, 0, 0.05);
  margin-left: 185px;
  padding-left: 35px;
  padding-top: 22px;
  /* overflow-y: scroll; */
}

.form_heading {
  color: #444;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Catamaran', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 70px;
  /* 194.444% */
  letter-spacing: -0.34px;
  padding-bottom: 15px;
}

.form_subheading {
  color: #555;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 111.111% */
  letter-spacing: -0.34px;
  margin-left: 18px;
}

.form {
  padding-left: 22px;

}

.text_inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 20px;
  align-items: flex-end;
}

.legend {
  color: #444;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 133.333% */
  letter-spacing: -0.34px;
  margin-bottom: 5px;
  font-family: Rubik;
}

.input_field {
  width: 90%;
  height: 53px !important;
  flex-shrink: 0;
  border: none;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 1px solid #5065a8;
  background: #f6f9ff;
  color: #6d6d6d;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  /* line-height: 20px;  */
  letter-spacing: -0.34px;
  padding-top: 11px;
  padding-right: 15px;
  padding-left: 14px;

}

.input_field::placeholder {
  color: #6d6d6d;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.34px;
  padding-top: 11px;
  line-height: 20px;
  font-family: Rubik;
}

.switch_container {
  display: flex;
  margin-top: 18px;
  /* justify-content: center; */
  align-items: center;
  padding-left: 10px;
}

.switch_text {
  color: #444;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 133.333% */
  letter-spacing: -0.34px;
  margin-left: 14px;
}

.advanced {
  border-radius: 10px;
  background: #FFF;
  box-shadow: 3px 4px 17px 4px rgba(0, 0, 0, 0.07);
  width: 90%;
  height: 54px;
  flex-shrink: 0;
  padding-right: 5px;

}

.advanced p {
  color: #555;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Rubik';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 111.111% */
  letter-spacing: -0.34px;
}

.pro {
  width: 121%;
}

.exclude {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 5px;
}

.myswitch {
  display: block;
}

.btns {
  display: flex;
  gap: 10px;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.next {
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #3E63CF;
  border: #3E63CF;
  border-radius: 10px;
  color: #FFF;
  font-size: 20px;
  cursor: pointer;
}

.prev {
  cursor: pointer;
  box-shadow: 2px 6px 28px 0px rgba(194, 194, 194, 0.75);
  border-radius: 10px;
  color: #3E63CF;
  padding: 1rem;
  border: none;
  padding-left: 2rem;
  padding-right: 2rem;
  background: #f6f9ff;
  font-size: 20px;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-ou
}

input[type='file'] {
  display: none;
}

.file_logo {
  background-color: #3E63CF;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  color: white;
  margin-right: 10px;
  font-family: 'Catamaran', sans-serif;
}

.logo_file_container {
  width: 63px;
  height: 60px;
  flex-shrink: 0;
  border: none;
  border-radius: 5px 5px 0px 0px;
  background: #f6f9ff;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  /* line-height: 20px;  */
  letter-spacing: -0.34px;
  padding-left: 14px;
  padding-top: 20px;
  width: 15rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Catamaran', sans-serif;
}

/* .scroll {
  height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
} */

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #E5E5E5;
  ;
  /* Change this to your desired color */
  border-radius: 5px;
}

input[type="number"] {
  position: relative;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-number-input-arrows{
  position: absolute;
  top: 4px;
  right: 45px;
}
.custom-number-input{
  position: relative;
}

/* MEDIA QUERY */

@media only screen and (max-width: 768px) {
  .logo_file_container {
    width: 90% !important;
    height: 60px;
  }
  .text_inputs {
    grid-template-columns: 1fr;
  }

  .form {
    margin-left: 0;
    height: auto;
  }

  .input_field {
    width: 90%;
    height: 40px;
  }

  .advanced {
    width: 90% !important;
  }
  .custom-number-input-arrows{
    right: 43px;
    top: 4px;
  }
  .next , .prev {
    font-size: 16px;
    font-weight: 600 !important;
  }
  .min_screen {
    width: 93%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .input_field {
    width: 90% !important;
  }
  .custom-number-input-arrows{
    position: absolute;
    right: 45px;
    top: 4px;
  }
}

@media only screen and (min-width: 440px) and (max-width: 768px) {
  .custom-number-input-arrows{
    right: 10%;
  }
}

@media only screen and (min-width: 570px) and (max-width: 768px) {
  .custom-number-input-arrows{
    right: 12%;
  }
}
@media only screen and (min-width: 1450px) {
  .custom-number-input-arrows{
    right: 85px;
  }
}