.banner {
    background-image: url(../../assets/images/waves.png);
    background-color: #E8EEFF;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Catamaran', sans-serif !important;
  }
  
  .main-banner {
    background-image: url(../../assets/images/waves.png);
    background-color: #E8EEFF;
    background-position: center;
    background-repeat: no-repeat;
    
    font-family: 'Catamaran', sans-serif !important;
  }
