.select-button-container {
    width: fit-content;
    margin-left: -5px !important
}

.btn-grid {
    padding-left: 5px !important;
}

.list_items {
    color: #555;
    font-feature-settings: "clig" off, "liga" off;
    font-family: 'Catamaran', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: -0.34px;
    display: inline-block;
    border-radius: 8px 8px 0 0;
    background: #fff;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    height: fit-content;
    width: 160px;
    cursor: pointer;
    white-space: nowrap;
}

.active_li {
    color: #0000BA !important;
    background: #FBFBFF !important;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1) !important;
}

@media only screen and (min-width: 320px) and (max-width: 400px) {
    .list_items {
        font-size: 10px !important;
    }
}

@media only screen and (max-width: 768px) {
    .list_items {
        color: #555;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: 'Catamaran', sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: -0.34px;
        /* width: 80px; */
        padding: 6px;
        display: table-cell;
    }

    .select-button-container {
        margin-bottom: 0;
        margin: auto;
        margin-top: -40px;
    }

    .button_list_number {
        display: none !important;
    }
}


@media only screen and (min-width: 769px) and (max-width: 1440px) {
    .list_items {
        color: #555;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: 'Catamaran', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: -0.34px;
        /* width: 115px; */
    }

    .select-button-container {
        margin-bottom: 0;
    }
}