/* @media only screen and (min-width: 320px) and (max-width: 650px) {
    .banner, .main-banner {
        display: none;
    }
} */

.banner {
    background-image: url(../../assets/images/waves.png);
    background-color: #E8EEFF;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Rubik', sans-serif !important;
  }
  
  .main-banner {
    background-image: url(../../assets/images/waves.png);
    background-color: #E8EEFF;
    background-position: center;
    background-repeat: no-repeat;
    
    font-family: 'Rubik', sans-serif !important;
  }
