/* select post from facebook page css starts */
.selectPost_container {
  width: 1200px;
  /* height: 993px; */
  flex-shrink: 0;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 1px 37px 3px rgba(0, 0, 0, 0.05);
  margin-left: 185px;
  padding: 32px 16px;

}

.main-contaner {
  width: 1200px !important;
  height: 993px !important;
  flex-shrink: 0 !important;
  margin-left: 185px !important;
  padding: 32px 16px !important;
}

.select_heading {
  color: #444;
  font-feature-settings: "clig" off, "liga" off;
  font-family: 'Catamaran', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 70px;
  letter-spacing: -0.34px;
  margin-left: 32px;
  margin-top: 15px;
}

.select_subheading {
  color: #555;
  font-feature-settings: "clig" off, "liga" off;
  font-family: 'Catamaran', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 111.111% */
  letter-spacing: -0.34px;
  margin-left: 49px;
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cards-main-box {
  padding-top: 30px;
  height: 300px;
  padding-right: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #E5E5E5;; /* Change this to your desired color */
  border-radius: 5px;
}



.select-post-box {
  border-radius: 15px;
  background: #FFF;
  /* New */
  box-shadow: 0px 1px 37px 3px rgba(0, 0, 0, 0.05);
}

/* .post_card:hover {
      box-shadow: 3px 4px 17px 4px rgba(0, 0, 0, 0.07);
    } */

.post_card {
  display: flex;
  width: 48%;
  /* height: 221px; */
  justify-content: space-between;
  margin-bottom: 20px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
  padding: 20px;
  box-shadow: 3px 4px 17px 4px rgba(0, 0, 0, 0.07);
  cursor: pointer;
}

.post_text {
  /* width: 273px; */
  /* height: 147px; */
  flex-shrink: 0;
  color: #555;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Catamaran', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 122.222% */
  letter-spacing: -0.34px;
}

.post_image {
  /* padding-left: 20px; */
  object-fit: contain;
  height: 111px;
  width: 40%;
  flex-shrink: 0;
  border-radius: 5px;
  /* background: url('/postImg.png'), lightgray 50% / cover no-repeat; */
}

.cmnts_count {
  color: #A0A0A0;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Catamaran', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.34px;
  padding-left: 20px;
}

.fb-card-text {
  color: #555;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Catamaran', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 125% */
  letter-spacing: -0.34px;
}

.fb-card-box {
  border-radius: 10px;
  background: #FFF;
  box-shadow: 3px 4px 17px 4px rgba(0, 0, 0, 0.07);

}

.active_card {
  border: 1px solid #5065a8;
  border-radius: 10px !important;
  background: #FFF !important;
  box-shadow: 3px 11px 8px 0px rgba(10, 50, 247, 0.07) !important;
}

/* MEDIA QUERY */

@media only screen and (min-width: 900px) {
  .post_text {
    font-size: 15px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 450px) {
  .cards {
    padding-left: 3%;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1500px) {
  .cmnts_count {
    padding-left: 0px;
  }
}

@media only screen and (min-width: 451px) and (max-width: 600px) {
  .cards {
    padding-left: 5%;
  }
}

@media only screen and (min-width: 500px) and (max-width: 768px) {
  .post_image {
    width: 14% !important;
    height: 100%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 499px) {
  .post_image {
    width: 40% !important;
    height: 111px;
  }
}

@media only screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 0 !important;
  }
  .cards {
    grid-template-columns: 98%;
    /* overflow-y: hidden; */
    padding-left: 3%;
  }

  .cards-main-box {
    height: auto;
    /* overflow-y: hidden; */
  }

  .post_text {
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
  }
  /* .post_image {
    width: 40%;
    height: 111px;
  } */
  .post_card {
    width: 90%;
    padding: 15px;
  }
  .cmnts_count {
    padding-left: 5px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 1200px)  {
  .side_container {
    display: none;
  }
}


/* select post from facebook page css ends */